<section class="contact" id="contact">
    <div class="container-fluid dgray-bg">
        
        <div class="section-title">
            <h2>GET IN TOUCH</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p>Feel free to contact me for offers, inquiries or just friendly chatter.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="social-icons"> 
                    <a href="{{socialLinks['facebook']}}"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a> 
                    <a href="{{socialLinks['twitter']}}"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a> 
                    <a href="{{socialLinks['github']}}"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a> 
                    <a href="{{socialLinks['linkedin']}}"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a> 
                </div>

                <ul class="contact-info">
                    <li>mail@arjenbrandenburgh.nl</li>
                </ul>
            </div>
        </div>
    </div>
</section>